<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatuAPI</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>CatuAPI</h1>
        <h3>Cadestre o seu café Especial</h3>
    </header>
    <section>
        <form action="" method="post">
            <div class="input-container">
                <label for="form_nome">Nome</label>
                <input type="text" name="form_nome" id="" class="input">
            </div>
            <div class="input-container">
                <label for="form_produtor">Produtor</label>
                <input type="text" name="form_produtor" id="" class="input">
            </div>
            <div class="input-container">
                <label for="form_variedade">Variedade</label>
                <input type="text" name="form_variedade" id="" class="input">
            </div>
            <div class="input-container">
                <label for="form_sensorial">Sensorial</label>
                <input type="text" name="form_sensorial" id="" class="input">
            </div>
            <div class="input-container">
                <input type="submit" value="Cadastrar" class="btn-submit">
            </div>
        </form>
    </section>
</body>
</html>